.illustration {
  width: 100%;
  height: 493px;
  background: url(../../img/Illustration-lg.png) no-repeat center center;

  margin-bottom: 100px;
}

@media screen and(max-width: 1611px){
  .illustration {
    height: 523px;
    background: url(../../img/Illustration-desktop.png) no-repeat center center;
    margin-bottom: 51px;
  }
}

@media screen and(max-width: 1178px){
  .illustration {
    height: 291px;
    background: url(../../img/Illustration-tab.png) no-repeat center center;
    margin-bottom: 30px;
  }
}

@media screen and(max-width: 600px){
  .illustration {
    height: 291px;
    background: url(../../img/Illustration-mob.png) no-repeat center center;

    margin-bottom: 11px;
  }
}