.pets__btn-container {
  display: flex;
  flex-direction: column;
  // transform: translateY(calc(50% - 52px));
}
.pets__container {
  position: relative;
  max-width: 1580px;
  margin: 0 auto;
  margin-bottom: 100px;
}


.pets__container::after {
  content: '';
  width: 33px;
  height: 65.69px;
  position: absolute;
  background: url(../../img/Penguin.png) no-repeat center center;
  right: 9px;
  bottom: 13.45px;
}

.pets__header-container {
  margin-bottom: 66px;
  display: flex;
}

.pets__header{
  @include section-titles-lg;
  margin-right: auto;
}

.pets__main-link {
  @include section-links_lg;
  border: 1px solid #19707D;
  border-radius: 100px;
  padding: 10px 22px 9px 20px;
  display: flex;
}

.pets__main-link::before {
  content: '';
  width: 24px;
  height: 24px;
  background: url(../../img/pets-link-icon.svg) no-repeat center center;
  display: block;
  margin-right: 14px;
}

.pets__content-btn {
  width: 52px;
  height: 52px;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: url(../../img/pets-btn.png) no-repeat center center;
}

.pets__content-btn:nth-child(2){
  transform: rotateY(180deg);
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  .pets__content-btn {
    width: 52px;
    height: 52px;
    
    background: url(../../img/pets-btn@2x.png) no-repeat center center;
  }
  
}

.pets__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}


.pets__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pets__item {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  margin-right: 20px;
  background: #FFFFFF;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  position: relative;
  
  &:nth-child(3n) {
    margin-right: unset;
  }
}

.pets__content-inner {
  width: 100%;
  padding-top: 17px;
  padding-bottom: 21px;
  padding-left: 30px;
  border-top: 1px solid #E5EAEB;
}

.pets__content-header {
  @include pets-item-header_lg;
  margin-bottom: 6px;
}

.pets__content-description{
  @include pets-description_lg;
}

.pets__content-img {
  max-width: 228.92px;
  height: 221px;
  margin: 0 125.08px 32px 126px;
  padding-top: 20px;
}

.pets__item::before {
  content: '';
  width: 23px;
  height: 23px;
  position: absolute;
  background: url(../../img/watch-icon.svg) no-repeat center center;
  bottom: 30px;
  right: 30px;  
}

@media screen and (max-width: 1611px){
  .pets__container {
    max-width: 1182px;
    padding: 0 20px;
    margin-bottom: 75px;
  }
  .pets__content-inner {
    border-top: 0.92px solid #E5EAEB;
  }
  
  .pets__header-container {
    margin-bottom: 56px;
  }
  
  .pets__main-link {
    padding: 9px 20px 10px 0px;
    align-items: center;
  }
  
  .pets__main-link::before {
    margin-left: 20px;
  }
  
  .pets__item:first-child .pets__content-description{
    max-width: 210px;
  }
  
  .pets__item:nth-child(4) .pets__content-inner{
    padding-bottom: 4px;
  }
  
  .pets__item::before {
    bottom: 25.69px;
    right: 21.1px;
    width: 22px;
    height: 22px;
  }
  
  .pets__item:nth-child(4)::before {
    bottom: 23px;
  }
  
  
  .pets__content-img {
    margin: 0  91.86px 24.77px 89px;
    padding-top: 25.69px;
    max-width: 155.86px;
    height: 150.47px;
  }
  
  .pets__content-description {
    max-width: 201px;
    @include pets-description_dt;
  }
  
  .pets__content-header {
    @include pets-item-header_dt;
  }
  
  .pets__list {
    row-gap: 31.19px;
  }
  
  .pets__item {
    margin-right: 33px;
    max-width: 336px;
    min-width: 336px;
  }
}

.pets__footer-link {
  display: none;
}

@media screen and(max-width: 1178px){
  .pets__container{
    max-width: 600px;
    padding: unset;
    margin-bottom: 50px;
  }
  
  .pets__header {
    @include section-titles_sm;
  }
  
  .pets__header-link {
    @include section-links_sm;
  }

  .pets__item{
    max-width: 256px;
    min-width: 250px;
    margin: unset;

    &:nth-child(1), &:nth-child(4n) {
      margin-right: 20px;
    }

    &::before {
      bottom: unset;
      top: 16px;
      right: 19px;
    }
  }

  .pets__content-description {
    font-size: 12px;
    max-width: 220px;
  }

  .pets__content-inner {
    padding: 17px 16px 18px 20px;
  }

  .pets__item:nth-child(3n){
    display: none;
  }

  .pets__content-img {
    margin: 0 43.12px 27px 43px;
    padding-top: 28px;
    max-width: 169.88px;
    height: 164px;
  }
}

@media screen and(max-width: 600px){
  .pets__container{
    max-width: 310px;
    margin-bottom: 30px;
  }

  .pets__item {
    display: none;
  }

  .pets__item:nth-child(1), .pets__item:nth-child(3) {
    display: block;
    display: flex;
    flex-direction: column-reverse;
  }

  .pets__content-img {
    width: 153px !important;
    height: 147.44px !important;
    margin: 0 43.64px 31.47px 43.64px !important;
  }

  .pets__header-link {
    display: none;
  }

  .pets__header-container {
    margin-bottom: 22px;
  }

  .pets__container::after {
    display: none;
  }

  .pets__content{
    padding: 12px 0 24px 15.27px;
  }

  .pets__header-link {
    display: none;
  }

  .pets__footer-link {
    display: block;
    display: flex;
  }
}